.card {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #cacaca;
    border-radius: 0.5rem;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}