.footer {
    background-color: #eee;
    padding: 1rem;
    font-size: 0.85rem;
    color: #333;
    margin-top: 2rem;
}

.footer div {
    max-width: 48rem;
    margin: 0 auto;
}

.footer li {
    margin: 1rem;
}